# .NET Core
bin/
obj/

# Visual Studio files
.vs/
*.vsidx
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.* 